@import "tailwindcss";

:root {
    --font-size-base: 16px;
    --spacing-unit: 8px;
}

body {
    font-size: var(--font-size-base);

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    min-height: 100vh;
}

.page-header {
    padding: 8px 8px 8px 8px;
}

.main-column {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}